body {
  background-color: #252526;
  color: #737273;
  margin-bottom: 20px;
  font-family: sans-serif;
}

.navbar {
  color: white;
  font-family: 'Cinzel', serif;
  box-shadow: 2px 2px #a6a6a6;
  opacity: 0.8;
}

.nav-item {
  display: inline;
  color: #737273;
  padding: 10px;
}

.nav-item i {
  color: #737273;
  font-size: 25px;
}

h1,
h2 {
  font-family: serif;
  text-transform: uppercase;
  text-align: center;
}
/*Home Section*/
.display-4 {
  font-family: serif;
  text-transform: uppercase;
  font-size: 30px;
}

.home-inner {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 50px;
}

#logo {
  align-content: center;
  border-radius: 150px;
  animation: moveDown 2s;
}

#home-text {
  animation: moveLeft 2s;
}

#logo-container {
  padding-bottom: 50px;
}

#transition1 {
  filter: grayscale(100%);
  height: 20px;
  width: 100%;
  background: url(https://images.pexels.com/photos/705778/pexels-photo-705778.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  animation: fadeOut 15s infinite;
}

.beat-link {
  text-decoration: none;
  color: white;
}

.beat-link:hover {
  text-decoration: none;
  color: #39373d;
}

#services {
  min-height: 300px;
}

.services-container {
  min-height: 300px;
  position: relative;
}

.service-picture {
  padding-bottom: 20px;
}
.service-body {
  padding-top: 10px;
  text-align: center;
  border-top: 2px solid #736e58;
}

h3:nth-child(odd) {
  border-right: 2px solid #736e58;
}
.service-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

/*Contact*/
#contact {
  min-height: 300px;
  text-align: center;
}

.contact-btn {
  background-color: #39373d;
  border-color: #6f6f73;
  align-items: center;
}

.contact-btn:hover {
  background-color: white;
  color: #39373d;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animate-Background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100%;
  }
}

@keyframes sideSlide {
  0% {
    border-left: 0px solid #a89ad9;
  }

  100% {
    border-left: 20px solid #a89ad9;
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
